.vacancyCardsContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1720px;
  justify-content: space-between;
  gap: 40px;
}
.cardContainer {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 16px;
  align-items: start;

  padding: 40px 45px;
  max-width: 433px;
  width: 100%;
  height: 350px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.cardContainer > h3 {
  font-size: 22px;
  max-width: 272px;
  margin: 0;
}
.category {
  color: #8d8d8d;
  font-size: 20px;
}
.location {
  color: #8d8d8d;
  font-size: 15px;
}
.locationDiv {
  display: flex;
  align-items: center;
  gap: 15px;
}
