.categoryCardsContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1720px;
  justify-content: space-between;
  gap: 90px;
}
.cardContainer {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: start;
  padding-left: 30px;
  max-width: 270px;
  width: 100%;
  height: 200px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.cardMoreCategories {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: start;
  padding-left: 30px;
  max-width: 270px;
  width: 100%;
  height: 200px;
  border: 2px solid rgb(170, 170, 170);
}
