.footerContainer {
  background-color: #52606d;
  margin: 0;
  padding: 55px 100px;
}
.footerTitle {
  color: #ffffff;
  font-size: 22px;
}
.borderFooter {
  border: 1px solid #465461;
  margin: 50px 0 50px 0;
}
.logoDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoDiv > h2 {
  color: #a0a0a0;
  font-size: 30px;
  margin: 0;
}
